<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
	<!-- 마이바티스 = dao의 부하, DB왔다갔다함 -->
	<!-- 마이바티스 컨피스 = 마이바티스 환경설정 -->
	
		<!-- <typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member" /> -->
		<typeAlias type="com.oceans.semosun.talk.model.vo.Talk" alias="Talk" />
		<typeAlias type="com.oceans.semosun.talk.model.vo.TalkComment" alias="TalkComment" />
	</typeAliases>
</configuration>










