<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.oceans.semosun.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.oceans.semosun.notice.model.vo.Notice" alias="Notice" />
	</typeAliases>
</configuration>










